footer{
    padding: 65px 0;
    background-color: #f9f9fb;

    .footer-links{
        > a{
            margin: 0 0 0 20px;
            float: left;
            text-transform: uppercase;
            color: #adadad;
            line-height: 34px;
        }
    }
}
