

@media (max-width: @screen-xs-max) {
    .btn,
    .form .btn{
        font-size: 16px;
    }
    .slide-box .slide-header{
        margin-bottom: 25px;
    }
    .fp-tableCell,
    .fp-section.fp-table,
    .fp-slide.fp-table{
        height: auto!important;
    }
    .slide-box{
        padding: 80px 10px;
        min-height: 580px;
    }

    .slide-box .slide-header .slide-header-lvl1{
        font-size: 48px;
        small{
            font-size: 42px;
        }
        .logotext{
            margin: 12px 0;
            width: 306px;
        }
    }
    .slide-box .slide-header .slide-header-lvl2{}
    .slide-box .slide-header .slide-header-lvl3{
        font-size: 26px;
    }

    //Top Slide.
    .slide-box.slide-top:before{
        width: 50%;
        max-width: 300px;
        height: 100%;
        left: auto;
        right: 0;
        bottom: 0;
        background-size: 100% auto;
    }

    //Payments Slide.
    .slide-box.slide-payments{
        padding-top: 60px;
        height: 580px!important;
        min-height: 580px;
        .slide-header{
            line-height: 48px;
        }
        .slide-header .slide-header-lvl1{
            font-size: 60px;
        }
        .stickers{
            //opacity: .5;
        }
    }
    .slide-box.slide-payments:before{
        max-height: 250px;
        height: 43%;
        background-size: auto 100%;
    }
    .slide-box.slide-payments:after {
        max-width: 186px;
        width: 40%;
        height: 100%;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../im/slide-payments-mobile-bot-bg.jpg');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100% auto;
        z-index: 1;
    }

    //Carousel.
    .slide-box.slide-advantages{
        padding: 0 30px;
        height: 480px!important;
        min-height: 0;
        .fp-tableCell, .fp-section.fp-table, .fp-slide.fp-table{
            height: 100%!important;
        }
        .carousel-caption-image{
            text-align: left;
            >img{
                max-width: 95%;
            }
        }
        .carousel-caption-image.im-freesbee:before {
            width: 50%;
            height: 550px;
            top: 100%;
            left: 20%;
            margin-left: 0;
            background-size: 100% auto;
        }
        .carousel-caption-image.im-chair:before {
            width: 50%;
            right: auto;
            left: 0;
            background-size: 100% auto;
        }
        .carousel-caption-image.im-umbrella:before {
            width: 50%;
            left: 0;
            background-size: 100% auto;
        }
        .carousel-caption-text{
            padding-left: 0;
            br{
                display: none;
            }
        }
        .carousel-caption-text .download{
            > a{
                margin: 5px 0;
                display: inline-block;
                > img{
                    height: 32px;
                }
            }
        }
        .carousel-caption-text > h2{
            margin: 0 0 5px;
            font-size: 42px;
            line-height: 1.25;
        }
        .carousel-caption-text > p{
            font-size: 20px;
            line-height: 1.3785;
        }
    }

    //Slider Controls
    .fp-controlArrow{
        width: 40px!important;
        height: 40px!important;
        background-size: auto 100%;

    }
    .fp-controlArrow.fp-prev{
        left: 10px;
        margin-left: 0;
    }
    .fp-controlArrow.fp-next{
        right: 10px;
        margin-right: 0;
        background-position: -40px 0;
    }

    //Slide Registration:
    .slide-box.slide-registration{
        padding-right: 25px;
        padding-left: 25px;
        .slide-header-lvl1{
            margin-bottom: 5px;
            font-size: 30px;
        }
        .slide-header-lvl2{
            font-size: 16px;
        }
    }

    //Signup form

    .signup-form-canvas {
        margin: 0 auto;
        padding: 20px 40px;
        max-width: 450px;
        background-color: #fafbfd;
        border-radius: 3px;
    }
    .form .control-label br{
        display: none;
    }
    .form .form-group._submit{
        text-align: center;
    }

//Footer
    footer{
        padding: 15px 0 20px;
    }
    footer .footer-links {
        text-align: center;
        margin: 10px 0;
        float: none!important;
        width: 100%;
        clear: both;
         > a{
            margin: 0 5px;
            float: none;
             img{
                 height: 32px;
             }
        }
    }

    footer .footer-logo{
        margin: 5px 0 5px;
        padding: 0 10px;
        display: block;
        text-align: center;
        width: 100%;
        float: none;
        clear: both;
    }

}
@media (max-width: 480px){
    //Slide top
    .slide-box .slide-header .slide-header-lvl1{
        margin: 10px 0;
        font-size: 40px;
        .logotext{
            width: 265px;

        }
    }
    .slide-box .slide-header .slide-header-lvl3{
        font-size: 24px;
        line-height: 1.125;
    }
    //Slide payments:
    .slide-box.slide-payments{
        padding-top: 100px;
        padding-bottom: 120px;
        height: auto!important;
        min-height: 0;
        .slide-header .slide-header-lvl1{
            font-size: 36px;
            margin: 5px 0;
            line-height: 1.125;
            small{
                font-size: 24px;
            }
        }
        .slide-header .slide-header-lvl3{
            font-size: 18px;
            line-height: 1.125;
        }
        .stickers{
            //opacity: .5;
        }
    }
    .slide-box.slide-payments:before{
        max-height: 250px;
        height: 33%;
        background-size: auto 100%;
    }
    .slide-box.slide-payments:after {
        max-width: 156px;
        width: 40%;
        height: 100%;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url('../im/slide-payments-mobile-bot-bg.jpg');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: auto 100%;
        z-index: 1;
    }

    //Slide carousel:
    .slide-box.slide-advantages{
        padding: 0 10px;
        height: 380px!important;

        .col-xs-6{
            width: 100%;
        }
        .carousel-caption-image.im-freesbee:before {
            display: none;
        }
        .carousel-caption-image.im-chair:before {
            display: none;
        }
        .carousel-caption-image.im-umbrella:before {
            display: none;
        }
        .carousel-caption-image {
            text-align: center;
            > img{
                max-width: 50%;
            }
        }
        .carousel-caption-text{
            padding-left: 0;
            text-align: center;
        }
        .carousel-caption-text .download{
            > a{
                margin: 5px 0;
                > img{
                    height: 30px;
                }
            }
        }
        .carousel-caption-text > h2{
            margin: 0 0 5px;
            font-size: 28px;
            line-height: 1.25;
        }
        .carousel-caption-text > p{
            font-size: 14px;
            font-weight: normal;
            line-height: 1.5;
            br{
                display: none;
            }
        }
    }

    //Slider Controls
    .fp-controlArrow{
        width: 30px!important;
        height: 30px!important;

    }
    .fp-controlArrow.fp-next{
        background-position: -30px 0;
    }

    //Slide registration:
    .slide-box.slide-registration{
        padding-top: 25px;
        padding-right: 0;
        padding-left: 0;
        background-position: center;
        background-size: 90% auto;
    }
    .signup-form-canvas {
        padding: 20px 30px;
    }
    .form .control-label{
        font-size: 13px;
    }
    .form .agreement{
        font-size: 12px;
    }
    .form .btn{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 14px;
        display: block;
        width: 100%;
    }

}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
    //Slides general
    .slide-box{
        padding: 0 20px;
    }
    //Top Slide
    .slide-box.slide-top{
        /*padding-top: 0px;
        padding-bottom: 100px;*/
        .fp-tableCell{
            vertical-align: top;
        }
        .slide-header{
            padding-top: 100px;
        }
    }
    .slide-box.slide-top:before{
        margin: 0;
        left: 20px;
        top: auto;
        bottom: 0;
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: auto 100%;
    }
    //Payments Slide:
    .slide-box.slide-payments:before{
        height: 38%;
        background-size: auto 100%;
    }
    .slide-box.slide-payments:after{
        height: 38%;
        background-size: auto 100%;
    }
    //Carousel.
    .slide-box.slide-advantages{
        .carousel-caption-image{
            >img{
                max-width: 92%;
            }
        }
        .carousel-caption-image.im-freesbee:before {
            width: 40%;
            top: 100%;
            left: 40%;
            margin-left: 0;
            background-size: 100% auto;
        }
        .carousel-caption-image.im-chair:before {
            width: 40%;
            right: auto;
            left: 10%;
            background-size: 100% auto;
        }
        .carousel-caption-image.im-umbrella:before {
            width: 40%;
            left: 15%;
            background-size: 100% auto;
        }
        .carousel-caption-text{
            padding-left: 15px;
        }
        .carousel-caption-text .download{
            > a{
                margin: 0;
                > img{
                    height: 35px;
                }
            }
        }
        .carousel-caption-text > h2{
            margin: 0 0 5px;
            //font-size: 42px;
            line-height: 1.25;
        }
        .carousel-caption-text > p{
            font-size: 24px;
            line-height: 1.3785;
        }
    }

    //Slider Controls
    .fp-controlArrow{
        width: 50px!important;
        height: 50px!important;
        background-size: auto 100%;

    }

    .fp-controlArrow.fp-prev{
        left: 10px;
        margin-left: 0;
    }
    .fp-controlArrow.fp-next{
        right: 10px;
        margin-right: 0;
        background-position: -50px 0;
    }
    footer .footer-logo{
        top: 5px;
        width: 180px;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
    }
    footer .footer-links > a > img{
        height: 32px;
    }
}
@media (min-width: @screen-md-min) and (max-width: @screen-md-max){
    .fp-controlArrow.fp-prev{
        left: 10px;
        margin-left: 0;
    }
    .fp-controlArrow.fp-next{
        right: 10px;
        margin-right: 0;
    }
}
